<!--
autores
- Fatima Talavera fa.talavera95@gmail.com
- Jerson Paniagua diazpany@gmail.com
-->
<div class="portfolio-modal modal fade" id="portfolioModalContact"  role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Contacto</h2>
            <hr class="star-primary">
            <%= form_tag send_contact_email_path, method: "post", validate: :true, :class=>'form-horizontal', id:"send_contact_email", remote: true  do  |f| %>
              <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                  <label for="name">Nombre y apellido</label>
                  <input type="text" class="form-control" placeholder="Nombre(s) y Apellido(s)" id="name" name="name" maxlength="60" required>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" placeholder="Correo Electrónico" id="email" name="email" required maxlength="60" >
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                  <label for="phone">Teléfono</label>
                  <input type="tel" class="form-control" placeholder="Teléfono/Celular" id="phone" name="phone" required maxlength="60">
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                  <label for="message">Mensaje</label>
                  <textarea style="height: auto" rows="3" class="form-control" placeholder="Mensaje" id="message" name="message" required maxlength="170"></textarea>
                  <p class="help-block text-danger"></p>
                </div>
              </div>
              <br>
              <div id="success"></div>
              <div class="row">
                <div class="form-group col-xs-12">
                  <button type="submit" class="btn btn-success btn-lg">Enviar</button>
                  <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    $( document ).ready(function() {
        $("#send_contact_email").validate({
                errorPlacement: function(error, element) {
                    error.insertAfter(element.parent('.form-group'));
                }
            }
        )
    });

</script>
<style>
  .error {
    opacity: 1 !important;
    color: #a94442;
  }
</style>