<!--
autores
- Fatima Talavera fa.talavera95@gmail.com
- Jerson Paniagua diazpany@gmail.com
-->
<style>
  canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
</style>
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-lg-offset-2" style="margin: 0px;">
          <div class="modal-body">
            <h2>Progreso 2015 - 2017</h2>
            <hr class="star-primary">
            <div class="board">
              <div class="axis poverty">
                <div class="strategy">
                  <%= image_tag("poverty.ico", class: "pnd pnd-poverty") %>
                  <span>Resduccion de la pobreza</span>
                </div>
                <div class="strategy">
                  <div class="amount">45 MM</div>
                  <span class="description">Desarrollo social equitativo</span>
                </div>
                <div class="strategy">
                  <div class="amount">45 MM</div>
                  <span class="description">Desarrollo social equitativo</span>
                </div>
                <div class="strategy">
                  <div class="amount">45 MM</div>
                  <span class="description">Desarrollo social equitativo</span>
                </div>
                <div class="strategy">
                  <div class="amount">45 MM</div>
                  <span class="description">Desarrollo social equitativo</span>
                </div>
              </div>

              <div class="axis economy">
                <div class="strategy">
                  <%= image_tag("economy.ico", class: "pnd pnd-economy") %>
                  <span>Resduccion de la pobreza</span>
                </div>
                <div class="strategy">
                  <div class="amount">45 MM</div>
                  <span class="description">Desarrollo social equitativo</span>
                </div>
                <div class="strategy">
                  <div class="amount">45 MM</div>
                  <span class="description">Desarrollo social equitativo</span>
                </div>
                <div class="strategy">
                  <div class="amount">45 MM</div>
                  <span class="description">Desarrollo social equitativo</span>
                </div>
                <div class="strategy">
                  <div class="amount">45 MM</div>
                  <span class="description">Desarrollo social equitativo</span>
                </div>
              </div>

              <div class="axis insertion">
                <div class="strategy">
                  <%= image_tag("insertion.ico", class: "pnd pnd-insertion") %>
                  <span>Resduccion de la pobreza</span>
                </div>
                <div class="strategy">
                  <div class="amount">45 MM</div>
                  <span class="description">Desarrollo social equitativo</span>
                </div>
                <div class="strategy">
                  <div class="amount">45 MM</div>
                  <span class="description">Desarrollo social equitativo</span>
                </div>
                <div class="strategy">
                  <div class="amount">45 MM</div>
                  <span class="description">Desarrollo social equitativo</span>
                </div>
                <div class="strategy">
                  <div class="amount">45 MM</div>
                  <span class="description">Desarrollo social equitativo</span>
                </div>
              </div>
            </div>


            <ul class="list-inline item-details">
              <li>Client:
                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                </strong>
              </li>
              <li>Date:
                <strong><a href="http://startbootstrap.com">April 2014</a>
                </strong>
              </li>
              <li>Service:
                <strong><a href="http://startbootstrap.com">Web Development</a>
                </strong>
              </li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .text-title{
    background-color: aliceblue;
    color: #0a7d66;
    text-align: center;
    vertical-align: middle;
  }
  .text-bold {
    font-weight: 800;
    text-transform: uppercase;
  }
  .monto-text {
    text-align: center;
  }
  .percentage-text {
    font-weight: 700;
    text-align: center;
    font-size: 150%;
    margin: 10px;
  }
  td{
    cursor: pointer;
  }
  td.state-red {
    background-color: #ff6262;
  }
  td.state-orange {
    background-color: #ffa754;
  }
  td.state-yellow {
    background-color: #fff67f;
  }
  td.state-green {
    background-color: #6afc9d;
  }
</style>

<script>
    window.chartColors = {
        red: 'rgb(255, 99, 132)',
        orange: 'rgb(255, 159, 64)',
        yellow: 'rgb(255, 205, 86)',
        green: 'rgb(75, 192, 192)',
        blue: 'rgb(54, 162, 235)',
        purple: 'rgb(153, 102, 255)',
        grey: 'rgb(201, 203, 207)'
    };

    randomFactor = function() {
        return (Math.random() > 0.5 ? 1.0 : 0.2) * Math.round(Math.random() * 100);
    };
    var color = Chart.helpers.color;
    var barChartData = {
        labels: ["Proyecto 1", "Proyecto 2", "Proyecto 3", "Proyecto 4", "Proyecto 5", "Proyecto 6", "Proyecto 7"],
        datasets: [{
            label: 'Proyectos',
            backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
            borderColor: window.chartColors.red,
            borderWidth: 1,
            data: [
                randomFactor(),
                randomFactor(),
                randomFactor(),
                randomFactor(),
                randomFactor(),
                randomFactor(),
                randomFactor()
            ]
        }]

    };


    $( "td" ).click(function() {
        $('#line-container').show();
        var zero = Math.random() < 0.2 ? true : false;
        barChartData.datasets.forEach(function(dataset) {
            dataset.data = dataset.data.map(function() {
                return zero ? 0.0 : randomFactor();
            });

        });
        window.myBar2.update();
    });

    var colorNames = Object.keys(window.chartColors);

    var config2 = {
        type: 'line',
        data: {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [{
                label: "Unfilled",
                fill: false,
                backgroundColor: window.chartColors.blue,
                borderColor: window.chartColors.blue,
                data: [
                    randomFactor(),
                    randomFactor(),
                    randomFactor(),
                    randomFactor(),
                    randomFactor(),
                    randomFactor(),
                    randomFactor()
                ],
            }, {
                label: "Dashed",
                fill: false,
                backgroundColor: window.chartColors.green,
                borderColor: window.chartColors.green,
                borderDash: [5, 5],
                data: [
                    randomFactor(),
                    randomFactor(),
                    randomFactor(),
                    randomFactor(),
                    randomFactor(),
                    randomFactor(),
                    randomFactor()
                ],
            }, {
                label: "Filled",
                backgroundColor: window.chartColors.red,
                borderColor: window.chartColors.red,
                data: [
                    randomFactor(),
                    randomFactor(),
                    randomFactor(),
                    randomFactor(),
                    randomFactor(),
                    randomFactor(),
                    randomFactor()
                ],
                fill: true,
            }]
        },
        options: {
            responsive: true,
            title:{
                display:true,
                text:'Chart.js Line Chart'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Month'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Value'
                    }
                }]
            }
        }
    };

</script>