<!--
autores
- Fatima Talavera fa.talavera95@gmail.com
- Jerson Paniagua diazpany@gmail.com
-->
<div class="portfolio-modal modal fade" id="ejecucion-departamental"  role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
           <!-- title -->

            <h2>Progreso Departamental</h2>
            <hr class="star-primary">
            <!-- end title -->

            <!-- query selector -->
            <div class="col-md-4" id="divForYearSelect" style="display: inline-flex">

            </div>
            <div class="col-md-4" id="divForMonthSelect" style="display: inline-flex">

            </div>
            <div class="col-md-4" id="divForMonthSelect" style="display: inline-flex">

            </div>
            <br>
            <br>
            <!-- end query selector -->


            <div id="map" class="container-chart">
              <div id="map-overlay" class="overlay" style="display: none">
                <div class="spinner"></div>
              </div>
            </div>


            <!-- Department Sumary -->
            <div id="dataMap" class="paragraph">
            </div>

            <div id="departmentDetail" class="" style="display: none;">
               <h4 style="text-align: center"><p id="departmentName"></p></h4>
                <p id="departmentDetail[presupuesto_aprobado]"><strong>Presupuesto Aprobado: </strong></p>
                <p id="departmentDetail[presupuesto_vigente]"><strong>Presupuesto Vigente: </strong> </p>
                <p id="departmentDetail[monto_planificado]"><strong>Monto Planificado: </strong> </p>
                <p id="departmentDetail[monto_ejecutado]"><strong>Monto Ejecutado: </strong> </p>
                <p id="departmentDetail[monto_transferido]"><strong>Monto Transferido: </strong> </p>
                <p id="departmentDetail[monto_abonado]"><strong>Monto Abonado: </strong> </p>
            </div>
            <!-- text body -->
            <input type="checkbox" id="leng2" class="toggle" data-toggle="toggle" data-style="ios" data-on="<i class='fa fa-reddit-alien'></i>" data-off="<i class='fa fa-user'></i>" data-onstyle="info" checked >
            <div id="lg-tec-leng2" class="paragraph">
              <p><strong>Presupuesto Inicial Aprobado:</strong> Es el monto del presupuesto aprobado por el Congreso Nacional. Es la ley del Presupuesto General de la Nación para un año fiscal. El monto es anual.</p>
              <p><strong>Monto Vigente:</strong> Es el presupuesto inicial aprobado incluyendo las modificaciones (aumento o disminución) a la Ley del Presupuesto General de la Nación. El monto es anual.</p>
              <p><strong>Monto Plan Financiero Vigente:</strong> Determina la capacidad real de ejecución. La ejecución presupuestaria se realizará en base a planes financieros, generales e institucionales, de acuerdo con las normas técnicas y la periodicidad que se establezca en la reglamentación. Se tomarán en cuenta el flujo estacional de los ingresos y la capacidad real de ejecución del presupuesto de los organismos y entidades del Estado. Dichos planes financieros servirán de marco de referencia para la programación de caja y la asignación de cuotas. El monto es mensual.</p>
              <p><strong>Monto Ejecutado:</strong> Compromiso de pago originado en un vínculo jurídico financiero entre un organismo o entidad del Estado y una persona física o jurídica. El monto es mensual.</p>
              <p><strong>Monto Transferido:</strong> Monto: de las transferencias del tesoro público a la entidad. El monto es mensual.</p>
              <p><strong>Monto Pagado:</strong> Cumplimiento: de las obligaciones legales contabilizadas y con cargo a las asignaciones presupuestarias y a las cuotas disponibles. El monto es mensual.</p>
            </div>

            <div id="lg-user-leng2" class="paragraph" style="display: none">
              <p><strong>Presupuesto Inicial Aprobado:</strong> El dinero que se autoriza para gastar en el año.</p>
              <p><strong>Monto Vigente:</strong> Es el monto con aprobado para este año.</p>
              <p><strong>Monto Plan Financiero Vigente:</strong> Lo que se dice que se gastará en el mes.</p>
              <p><strong>Monto Ejecutado:</strong> Lo que realmente se gasta en el mes.</p>
              <p><strong>Monto Transferido:</strong> Lo que te dan para cubrir tus gastos del mes.</p>
              <p><strong>Monto Pagado:</strong> Cumplimiento: Lo que pudiste pagar en el mes.</p>
            </div>
            <!-- end text body -->

            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
    var colors = ['#88f9d4', '#18c29c', '#0b877d', '#126872', '#184169', '#13314d', '#031727',  '#031727',  '#031727',  '#031727'];
    $( document ).ready(function() {
        $('#ejecucion-institucional').bind("DOMSubtreeModified",function(){
            if(Window.map != null){
                $('#modal2-portfolio-link').removeClass('not-active');
                $('#modal2-overlay').hide();
                var timeout = 500;
                setTimeout(function(){
                    Window.map.invalidateSize();
                }, timeout);
                for (i = 0; i<20; i+=2){
                    setTimeout(function(){
                        Window.map.invalidateSize();
                    }, timeout + timeout*i);
                }
            }

        });
    });

    window.onload = function() {
        //entity chart
        loadYearsSelect();
        var dataSet;

        Window.map = L.map("map", {minZoom: 6.7, maxZoom: 6.7, doubleClickZoom: false}).setView([-23.5, -58.5], 6);
        Window.map.dragging.disable();

        $.getJSON('/paraguay.json', function (geoJSONdata) {
            $.ajax({
                method: "GET",
                url: "search/search",
                data: {"year" : pgn_years[0][0], "month" :pgn_months[0][0], "q" : "department_heat_map"}
            })
            .done(function( values ) {
                //console.log('valuies');
                //console.log(geoJSONdata.features);
                Window.currentDataMap = values;
                // console.log("max " + max + "-min: " + min);
                $.each( geoJSONdata.features, function( key, val ) {
                    var dpto = val.properties.dpto;
                    var valByDpto = values[parseInt(dpto)];
                    val.properties['data'] = valByDpto;
                    var currentValue = valByDpto[4]*100/valByDpto[2];
                    val.properties['value'] = currentValue;
                });

                Window.geoJSONgroup = L.geoJSON(geoJSONdata, {style: style}).addTo(Window.map);

                Window.geoJSONgroup.eachLayer(function (layer) {
                  if (layer.feature.properties.name === "Paraguay") {
                    Window.map.fitBounds(layer.getBounds());
                  }
                });
                Window.geoJSONgroup.on('click', function(e) {
                    var currentData = Window.currentDataMap[parseInt(e.layer.feature.properties.dpto)];
                    $('#departmentName').text(e.layer.feature.properties.dpto_desc);
                    $('#departmentDetail').show();
                    var instituteData = ['presupuesto_aprobado', 'presupuesto_vigente', 'monto_planificado', 'monto_ejecutado', 'monto_transferido', 'monto_abonado'];
                    var counter = 1;
                    instituteData.forEach(function (element) {
                        var elementTitle = $("#departmentDetail\\["+element+"\\]").html();
                        var newElementTitle = elementTitle.match(/<strong>(.*)strong>/)
                            //console.log(newElementTitle[0]);
                        $("#departmentDetail\\["+element+"\\]").html(newElementTitle[0]+' '+format_currency(currentData[counter]));
                        $("#departmentDetail\\["+element+"\\]").show();
                            counter++;
                    });

                });
            });
        });
    };

    function format_currency (number) {
        return 'Gs. ' + parseFloat(number).toFixed(0).replace(/./g, function(c, i, a) {
                return i && c !== "." && ((a.length - i) % 3 === 0) ? ',' + c : c;
            });
    };

    function style(feature) {
      return {
        fillColor: getColor(feature.properties),
        weight: 2,
        opacity: 1,
        color: 'white',
        dashArray: '3',
        fillOpacity: 0.7
      };
    };

    function getColor(properties) {
        d = properties.value;
        var finalColor = colors[10];
        for(var i= 90; i>=0; i-=10){
          if(d < i){
            finalColor = colors[i/10 - 1];
          }
        }
        return finalColor;
    }

</script>

<style>
  .overlay {
    z-index: 1000;
    background: white;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .9;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
  }

  .spinner {
    position: absolute;
    top: 35%;
    left: 35%;
    margin:0px auto;
    -webkit-animation: rotation .9s infinite linear;
    -moz-animation: rotation .9s infinite linear;
    -o-animation: rotation .9s infinite linear;
    animation: rotation .9s infinite linear;

    border-left:16px solid rgba(24,188,156,.25);
    border-right:16px solid rgba(24,188,156,.25);
    border-bottom:16px solid rgba(24,188,156,.25);
    border-top:16px solid rgba(24,188,156,.8);
    border-radius:100%;
    position: absolute;
    width: 200px;
    height: 200px;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
  }
</style>