<!--
autores
- Fatima Talavera fa.talavera95@gmail.com
- Jerson Paniagua diazpany@gmail.com
-->

<div class="portfolio-modal modal fade" id="ejecucion-departamental"  role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-lg-offset-2" style="margin: 0px;">
          <div class="modal-body">
           <!-- title -->

            <h2>Progreso Departamental</h2>
            <div class="metrics" data-toggle="tooltip" title="Las cantidades son de acuerdo a los filtros de la pagina" >
              Visitas: <span id="map-quantity-visits">0</span> - Descargas: <span id="map-quantity-downloads">0</span>
            </div>
            <hr class="star-primary">
            <!-- end title -->

            <!-- query selector -->
            <div class="col-md-4" id="divForYearSelect" style="display: inline-flex">

            </div>
            <div class="col-md-4" id="divForMonthSelect" style="display: inline-flex">

            </div>
            <div class="col-md-4" id="divForMonthSelect" style="display: inline-flex">

            </div>
            <br>
            <br>
            <!-- end query selector -->


            <div id="map" class="container-chart">
              <div id="map-overlay" class="overlay" style="display: none">
                <div class="spinner"></div>
              </div>
            </div>
            <!-- end map -->

            <div class="rate col-md-10">
              <span class="description">
                <span class="title">Paraguay</span>
                <span class="calification">0.0</span>
              </span>
              <div id="map-rate"></div>
              <span class="description">
                <span class="nominal-value"></span>
              </span>
            </div>
            <div class="actions col-md-2">
              <a href="javascript:void(0)" class="download-png"><i class="fa fa-facebook-square" aria-hidden="true" style="color: #2e6da4"></i></a>
              <a href="javascript:void(0)" class="download-png"><i class="fa fa-download" aria-hidden="true" data-download-id="map" style="color: lightseagreen;"></i></a>
              <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="Utiliza los filtros para busquedas avanzadas, si das click en un departamento podrás ver su información detallada." aria-hidden="true"></i>
            </div>
            <!-- end rate and actions -->

            <!-- Department Sumary -->
            <div id="dataMap" class="paragraph">
            </div>

            <div class="w3-bar w3-black">
              <button id="dataButtonHeatMap" type="button" class="btn btn-default" onclick="openTab('departmentDetail')" disabled><i class="fa fa-times"></i> Datos</button>

              <button type="button" class="btn btn-default" onclick="openTab('textDepartment')"><i class="fa fa-times"></i> Explicaciones</button>
            </div>

            <div id="departmentDetail" class="departmentTab" style="display: none;">
                <h4 style="text-align: center"><p id="departmentName"></p></h4>
                <p id="departmentDetail[presupuesto_aprobado]"><strong>Presupuesto Aprobado: </strong></p>
                <p id="departmentDetail[presupuesto_vigente]"><strong>Presupuesto Vigente: </strong> </p>
                <p id="departmentDetail[monto_planificado]"><strong>Monto Planificado: </strong> </p>
                <p id="departmentDetail[monto_ejecutado]"><strong>Monto Ejecutado: </strong> </p>
                <p id="departmentDetail[monto_transferido]"><strong>Monto Transferido: </strong> </p>
                <p id="departmentDetail[monto_abonado]"><strong>Monto Abonado: </strong> </p>
            </div>

            <!-- text body -->
        <div id="textDepartment" class="departmentTab">
            <div id="lg-tec-leng2" class="paragraph">
              <p><strong>Presupuesto Inicial Aprobado:</strong> Es el monto del presupuesto aprobado por el Congreso Nacional. Es la ley del Presupuesto General de la Nación para un año fiscal. El monto es anual.</p>
              <p><strong>Monto Vigente:</strong> Es el presupuesto inicial aprobado incluyendo las modificaciones (aumento o disminución) a la Ley del Presupuesto General de la Nación. El monto es anual.</p>
              <p><strong>Monto Plan Financiero Vigente:</strong> Determina la capacidad real de ejecución. La ejecución presupuestaria se realizará en base a planes financieros, generales e institucionales, de acuerdo con las normas técnicas y la periodicidad que se establezca en la reglamentación. Se tomarán en cuenta el flujo estacional de los ingresos y la capacidad real de ejecución del presupuesto de los organismos y entidades del Estado. Dichos planes financieros servirán de marco de referencia para la programación de caja y la asignación de cuotas. El monto es mensual.</p>
              <p><strong>Monto Ejecutado:</strong> Compromiso de pago originado en un vínculo jurídico financiero entre un organismo o entidad del Estado y una persona física o jurídica. El monto es mensual.</p>
              <p><strong>Monto Transferido:</strong> Monto: de las transferencias del tesoro público a la entidad. El monto es mensual.</p>
              <p><strong>Monto Pagado:</strong> Cumplimiento: de las obligaciones legales contabilizadas y con cargo a las asignaciones presupuestarias y a las cuotas disponibles. El monto es mensual.</p>
            </div>

            <div id="lg-user-leng2" class="paragraph" style="display: none">
              <p><strong>Presupuesto Inicial Aprobado:</strong> El dinero que se autoriza para gastar en el año.</p>
              <p><strong>Monto Vigente:</strong> Es el monto con aprobado para este año.</p>
              <p><strong>Monto Plan Financiero Vigente:</strong> Lo que se dice que se gastará en el mes.</p>
              <p><strong>Monto Ejecutado:</strong> Lo que realmente se gasta en el mes.</p>
              <p><strong>Monto Transferido:</strong> Lo que te dan para cubrir tus gastos del mes.</p>
              <p><strong>Monto Pagado:</strong> Cumplimiento: Lo que pudiste pagar en el mes.</p>
            </div>
            <input type="checkbox" id="leng2" class="toggle" data-toggle="toggle" data-style="ios" data-on="<i class='fa fa-reddit-alien'></i>" data-off="<i class='fa fa-user'></i>" data-onstyle="info" checked >
          </div>
            <!-- end text body -->
            <br>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>