<!--
autores
- Fatima Talavera fa.talavera95@gmail.com
- Jerson Paniagua diazpany@gmail.com
-->
<div class="portfolio-modal modal fade" id="portfolioModalInfo"  role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>PND 2030</h2>
            <hr class="star-primary">

            <div style="text-align: justify;">
              <p>
                El PND Paraguay 2030 es un documento estratégico que facilitará coordinar acciones en las instancias
              sectoriales del Poder Ejecutivo, así como con diversos niveles de gobierno, sociedad civil, sector
              privado y, eventualmente, los poderes Legislativo y Judicial.
              </p>

              <p>
                Es un instrumento que nos permitirá cumplir con el mandato constitucional establecido en el
              Artículo 177 que establece que “Los planes nacionales de desarrollo serán indicativos para el sector privado, y de
              cumplimiento obligatorio para el sector público”.
              </p>

              <p>
                Es el producto de un amplio proceso de consulta en reuniones y talleres iniciados en el mes de
              noviembre del 2013, de los que participaron más de 2.000 referentes del gobierno central, gobiernos
              sub-nacionales, sociedad civil, sector privado y académico. Este proceso de consulta ha sido realizado
              en 10 departamentos del país con la participación de autoridades sub-nacionales, sociedad civil y
              sector privado local.
              </p>

            </div>

            <ul class="list-inline item-details">
              <li>Client:
                <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
                </strong>
              </li>
              <li>Date:
                <strong><a href="http://startbootstrap.com">April 2014</a>
                </strong>
              </li>
              <li>Service:
                <strong><a href="http://startbootstrap.com">Web Development</a>
                </strong>
              </li>
            </ul>
            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
