<!--
autores
- Fatima Talavera fa.talavera95@gmail.com
- Jerson Paniagua diazpany@gmail.com
-->
<div class="portfolio-modal modal fade" id="ejecucion-institucional"  role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-lg-offset-2" style="margin: 0px;">
          <div class="modal-body">
            <h2>Plan estratégico al 2030</h2>
            <hr class="star-primary">

            <!-- query selector -->
            <div class="col-md-3" id="divForYearSelectProgress" style="display: inline-flex">
              <select id="yearSelectProgress" class="trigerSelect"></select>
            </div>
            <div class="col-md-3" id="divForInstituteLevelSelectProgress" style="display: inline-flex;" >
              <select id="instituteLevelSelectProgress" class="trigerSelect">
                <option value=""> Todos los Niveles</option>
                <%= @inst_lvls.each do |level| %>
                    <option value="<%= level[0] %>"> <%= level[1] %></option>
                <% end %>
              </select>
            </div>

            <div class="col-md-3" id="divForInstituteSelectProgress" style="display: none" >
              <select id="instituteSelectProgress" class="trigerSelect"></select>
            </div>
            <div class="col-md-3" id="divForProjectSelectProgress" style="display: none;" >
              <select id="projectSelectProgress" class="trigerSelect"></select>
            </div>
            <!-- end query selector -->

            <div class="actions col-md-12">
              <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="Utiliza los filtros para busquedas avanzadas, si seleccionas una institución podrás ver su información abajo." aria-hidden="true"></i>
            </div>

            <div style="width: 100%">
              <canvas id="canvas" width="800" height="450"></canvas>
            </div>
            <div id="divForInstituteData" class="paragraph instituteData" >
              <h4 style="text-align: center">Datos de la Institución</h4>
              <p id="institute[nombre]"><strong>Nombre: </strong></p>
              <p id="institute[mision]"><strong>Misión: </strong> </p>
              <p id="institute[vision]"><strong>Visión: </strong> </p>
              <p id="institute[objetivo]"><strong>Objetivo: </strong> </p>
              <p id="institute[politica]"><strong>Política: </strong> </p>
              <p id="institute[diagnostico]"><strong>Diagnóstico: </strong> </p>
              <p id="institute[baselegal]"><strong>Base Legal: </strong> </p>
            </div>

          <input type="checkbox" id="leng3"  class="toggle" data-toggle="toggle" data-style="ios" data-on="<i class='fa fa-reddit-alien'></i>" data-off="<i class='fa fa-user'></i>" data-onstyle="info" checked >
          <div id="lg-tec-leng3" class="paragraph">
            <p><strong>Monto Plan Financiero Vigente:</strong> Determina la capacidad real de ejecución. La ejecución presupuestaria se realizará en base a planes financieros, generales e institucionales, de acuerdo con las normas técnicas y la periodicidad que se establezca en la reglamentación. Se tomarán en cuenta el flujo estacional de los ingresos y la capacidad real de ejecución del presupuesto de los organismos y entidades del Estado. Dichos planes financieros servirán de marco de referencia para la programación de caja y la asignación de cuotas. El monto es mensual.</p>
            <p><strong>Monto Ejecutado:</strong> Compromiso de pago originado en un vínculo jurídico financiero entre un organismo o entidad del Estado y una persona física o jurídica. El monto es mensual.</p>
            <p><strong>Avance:</strong> Muestra el porcentaje de avance para todos los planes de acción en ejecución, por año y por institución.</p>
          </div>

          <div id="lg-user-leng3" class="paragraph" style="display: none">
            <p><strong>Monto Plan Financiero Vigente:</strong> Lo que se dice que se gastará en el mes.</p>
            <p><strong>Monto Ejecutado:</strong> Lo que realmente se gasta en el mes.</p>
            <p><strong>Avance:</strong> Muestra el porcentaje de avance para todos los planes de acción en ejecución, por año y por institución.</p>
          </div>

          <ul class="list-inline item-details">
            <li>Client:
              <strong><a href="http://startbootstrap.com">Start Bootstrap</a>
              </strong>
            </li>
            <li>Date:
              <strong><a href="http://startbootstrap.com">April 2014</a>
              </strong>
            </li>
            <li>Service:
              <strong><a href="http://startbootstrap.com">Web Development</a>
              </strong>
            </li>
          </ul>
          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cerrar</button>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>