<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <div class="col-lg-12" style="text-align: center">
    <img class="img-responsive" src="http://res.cloudinary.com/dqxqgsssd/image/upload/v1503549518/mail-logo_lzukpu.png" alt="mail_logo" style="width: 20%; height: auto">
    <div class="intro-text">
      <h2 class="name" style="color: black;  font-size:20px ">Caminando al 2030</h2>
    </div>
  </div>
<h3 style="margin-left: 20px">¡<%= data['name'] %> quiere contactar contigo!.</h3>
<p style="margin-left: 40px">
  Su correo: <%= data['email'] %> <br>
  Su teléfono: <%= data['phone'] %> <br>
  Mensaje : <%= data['message'] %></p>
</body>
<br>
<br>
<img src="http://hackathon.innovando.gov.py/application/files/thumbnails/small/9514/9623/1876/InnovandoPy-hackathon.jpg" height="50px" alt="" id="image-marker" style="margin-bottom: 15px;">
<img src="http://hackathon.innovando.gov.py/application/files/8614/9640/7303/Logo-SENATICs.png" height="65px" alt="SENATICs" id="image-marker" style="margin-bottom: 15px;">
<img src="http://www.stp.gov.py/pnd/wp-content/uploads/2014/12/logo-stp.png" height="65px" alt="SENATICs" id="image-marker" style="margin-bottom: 15px;">
</html>