<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Quiero contactar contigo!. Soy <%= @name %></h1>
<p>
  Mi correo: <%= @email %> <br>
  Mi teléfono: <%= @phone %> <br>
</p>
<p>Mensaje : <%= @message %></p>
</body>
</html>