<footer class="text-center" style="position:fixed; left:0px; bottom:0px; height:auto; z-index:1000;width:100%;">
  <div class="footer-below">
    <div class="container">
        <div class="col-xs-12 ">
          <ul class="list-inline" style="display: initial;">
            <li>
              <a target="_blank" href="https://www.facebook.com/caminandoal2030/" class="btn-social btn-outline"><span class="sr-only">Facebook</span><i class="fa fa-fw fa-facebook"></i></a>
            </li>
            <li>
              <a target="_blank" href="https://twitter.com/CaminandoAl2030" class="btn-social btn-outline"><span class="sr-only">Twitter</span><i class="fa fa-fw fa-twitter"></i></a>
            </li>
            <a target="_blank" href="http://hackathon.innovando.gov.py/edicion-2017">
              <img  src="http://hackathon.innovando.gov.py/application/files/thumbnails/small/9514/9623/1876/InnovandoPy-hackathon.jpg" height="50px" alt="" id="image-marker" style="margin-bottom: 15px;">
            </a>
            <a target="_blank" href="https://www.senatics.gov.py/">
              <img  src="http://hackathon.innovando.gov.py/application/files/8614/9640/7303/Logo-SENATICs.png" height="65px" alt="SENATICs" id="image-marker" style="margin-bottom: 15px;">
            </a>
            <a target="_blank" href="http://www.stp.gov.py/" >
              <img src="http://www.stp.gov.py/pnd/wp-content/uploads/2014/12/logo-stp.png" height="65px" alt="SENATICs" id="image-marker" style="margin-bottom: 15px;">
            </a>
            <!-- Otros
            <li>
              <a href="#" class="btn-social btn-outline"><span class="sr-only">Google Plus</span><i class="fa fa-fw fa-google-plus"></i></a>
            </li>
             <li>
              <a href="#" class="btn-social btn-outline"><span class="sr-only">Linked In</span><i class="fa fa-fw fa-linkedin"></i></a>
            </li>
            <li>
              <a href="#" class="btn-social btn-outline"><span class="sr-only">Dribble</span><i class="fa fa-fw fa-dribbble"></i></a>
            </li>
             -->

          </ul>
        </div>
    </div>
  </div>
</footer>